$primaryColor: orange;
$secondaryColor: black;

.bike {
  width: 500px;
  margin: 50px auto;
}

img {
  width: 100%;
}

.helmets-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.helmets {
  width: 50%;
  text-align: center;
}

.helmets-caption {
  width: 100%;
}

.include-boxes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  input {
    margin-right: 10px;
  }
}

.colorScheme {
  border-color: $secondaryColor;
  background-color: $secondaryColor;
  color: $primaryColor;
}

.inverseScheme {
  border-color: $secondaryColor;
  background-color: $primaryColor;
  color: $secondaryColor;
}

.quantity-input {
  width: 10%;
}

.quatity-label {
  width: 500px;
}
